@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('@/assets/fonts/ubuntu-medium-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/ubuntu-regular-400.woff2') format('woff2');
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    background: hsl(0, 0%, 96%);
}

/* Esconde scrollbar no Chrome, Safari e Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Esconde scrollbar no Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
